body {
    margin: 0;
     display: flex;
    justify-content: center;
    position: relative;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjCWtlwizaodP_flTnE1bCnfGxyORQ-MtKw&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 15px;
    line-height: 1.6;
    color: #333;

}
/*Все span что в коде*/
.text1{
    font-family: 'Redressed', cursive;
}
.intro{
    font-size: 35px;
    color: #000000;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro_1{
  font-weight: 900;
}
h1{
 font-weight: 900;
 text-align: center;
 font-size: 36px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Container */
.container {
    width: 100%;
    max-width: 100%;
    padding: 20px 20px;
    background: linear-gradient(to top,#fffff0, #00FFFF);

}
/*Первый блок после меню*/
.section-left{
    display: flex;
    max-width: 1240px;
    padding: 20px;
    min-height: 250px;
    background:#00FFFF;
    margin-left: auto;
    margin-right: auto;
    
}
.text2{
    min-height: 155px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
font-size: 35px; 
font-family: 'Open Sans', sans-serif;
}
p,ul,ol{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
}
p img{
    display: block;
    width: 650px;
    height: 550px;
    margin-right:auto;
    margin-left:auto;  
    border: 2px solid black;
    border-radius:4px;
}

hr{
    margin: 20px;
}
.intro_2{
    font-style: italic;
}
.section{
    position: absolute;
    max-width: 1440px;
    background: #fff;
    border-radius-bottom: 15px; 
    margin:  89px 20px 20px 20px;
}
.text_1{
    background: #C9E4DA;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}
.section_left{
     min-height: 330px;
    display: flex;
    background: #05E606;

    align-items: center;
    justify-content: center;
font-size: 45px; 
font-family: 'Open Sans', sans-serif;
}
/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header.fixed {
    padding: 10px 0;

    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: black;
}


/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color:black;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}


/* Nav toggle */
.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0)
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}
